[v-cloak]{
    display: none;
}

html, body, #app {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-repeat: no-repeat;
    background-position: center;
}

#app {
    overflow-y: auto;
}

#container {
    margin: 0 auto;
    padding-top: 8%;
    width: 1024px;
}

#outer-inner-btn {
    float: right;
    margin-right: 10px;
}

#toggle-button{
    display: none;
}
.button-label{
    position: relative;
    display: inline-block;
    width: 75px;
    height: 28px;
    background-color: #ccc;
    box-shadow: #ccc 0 0 0 2px;
    border-radius: 30px;
    overflow: hidden;
}
.circle{
    position: absolute;
    top: 1px;
    left: 0;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #fff;
}
.button-label .text {
    line-height: 28px;
    font-size: 18px;
    text-shadow: 0 0 2px #ddd;
}

.on { color: #fff; display: none; text-indent: -20px;}
.off { color: #fff; display: inline-block; text-indent: 25px;}
.button-label .circle{
    left: 0;
    transition: all 0.3s;
}
#toggle-button:checked + label.button-label .circle{
    left: 48px;
}
#toggle-button:checked + label.button-label .on{ display: inline-block; }
#toggle-button:checked + label.button-label .off{ display: none; }
#toggle-button:checked + label.button-label{
    background-color: #009688;
}

#top {
    text-align: center;
}

#title {
    color: white;
    font-size: 30px;
    padding: 16px 0;
}

#logo-img {
    width: 132px;
    vertical-align: middle;
    border-radius: 66px;
}

#nav {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    margin-top: 2%;
}

.nav-link {
    width: 130px;
    margin: 10px 15px 20px 15px;
    text-decoration: none;
    text-align: center;
    -webkit-transition: margin 0.2s ease-out;
    -moz-transition: margin 0.2s ease-out;
    -o-transition: margin 0.2s ease-out;
}

.nav-link:hover {
    margin-top: 0;
}

.nav-link img {
    width: 128px;
    height: 128px;
    border-radius: 18%;
    background-color: white;
}

.nav-link span {
    display: block;
    color: white;
    height: 32px;
    text-shadow: 0 0 10px #111;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
}

#nav em {
    height: 0 !important;
}

#footer {
    position:fixed;
    bottom:0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 36px;
    background-color: rgba(255,255,255,0.3);
    text-align: center;
}
#footer a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    line-height:36px;
}

@media screen and (max-width: 480px) {
    #container {
        width: 100%;
    }

    .button-label {
        width: 62px;
        height: 22px;
    }
    .button-label .text {
        line-height: 20px;
        font-size: 14px;
        text-shadow: 0 0 2px #ddd;
    }
    .circle {
        width: 21px;
        height: 21px;
    }
    #toggle-button:checked + label.button-label .circle {
        left: 40px
    }
    .on { color: #fff; display: none; text-indent: -20px;}
    .off { color: #fff; display: inline-block; text-indent: 18px;}

    .nav-link {
        width: 68px;
        margin: 8px 8px 16px 8px;
    }

    .nav-link img {
        width: 64px;
        height: 64px;
    }
}
